.vs/
x64/
x32/
x86/
Debug/

BaseRepo/Debug/
BaseRepo/x64/
BaseRepo/x32/
BaseRepo/x86/

BaseRepoMain/Debug/
BaseRepoMain/x64/
BaseRepoMain/x32/
BaseRepoMain/x86/

BaseRepoTests/Debug/
BaseRepoTests/x64/
BaseRepoTests/x32/
BaseRepoTests/x86/
BaseRepoTests/.vs/

*.result